# Python

.venv/
**pycache**/
*.pyc

# IDE

.vscode/
.idea/

# Environment Variables

.env

# Database

data/*.db

# Generated Data

data/history.csv

# Charts

static/charts/*.png

# OS Files

.DS_Store
Thumbs.db
