{% extends "base.html" %}

{% block title %}
頁面名稱
{% endblock %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>查詢紀錄</title>
</head>

<body>

    <h1>查詢紀錄</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <div class="container"></div>

    <a href="/">回首頁</a>
    |
    <a href="/clear_history">清除查詢紀錄</a>

    <table border="1" cellpadding="8">

        <tr>
            <th>股票代號</th>
            <th>股票名稱</th>
            <th>收盤價</th>
            <th>MA5</th>
            <th>MA20</th>
            <th>RSI</th>
            <th>K</th>
            <th>D</th>
            <th>評分</th>
            <th>建議</th>
            <th>產業</th>
            <th>技術分數</th>
            <th>新聞分數</th>
            <th>綜合分數</th>
            <th>新聞趨勢</th>
            <th>新聞摘要</th>
        </tr>

        {% for item in records %}
        <tr>
            <td>{{ item.code }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.ma5 }}</td>
            <td>{{ item.ma20 }}</td>
            <td>{{ item.rsi }}</td>
            <td>{{ item.k }}</td>
            <td>{{ item.d }}</td>
            <td>{{ item.score }}</td>
            <td>{{ item.suggestion }}</td>
            <td>{{ item.industry }}</td>
            <td>{{ item.tech_score }}</td>
            <td>{{ item.news_score }}</td>
            <td>{{ item.final_score }}</td>
            <td>{{ item.news_trend }}</td>
            <td>
                {% if item.get('news_titles') %}
                {% for news in item.get('news_titles', '').split(' | ') %}
                <li>{{ news }}</li>
                {% endfor %}
                {% else %}
                無新聞資料
                {% endif %}
            </td>
            </td>
        </tr>
        {% endfor %}

    </table>

</body>
{% endblock %}